<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a7f8f">  <td>20/12/29 18:11:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestNg.startTimer()[pri:0, instance:javainterviewquestions.ArmstrongNumber@2f177a4b]">&gt;&gt;startTimer</td> 
<td>&nbsp;</td>  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="d0fbae">  <td>20/12/29 18:11:11</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArmstrongNumber.arm1()[pri:1, instance:javainterviewquestions.ArmstrongNumber@2f177a4b]">arm1</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="7a7f8f">  <td>20/12/29 18:11:11</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestNg.endTimer()[pri:0, instance:javainterviewquestions.ArmstrongNumber@2f177a4b]">&lt;&lt;endTimer</td> 
<td>&nbsp;</td>  <td>main@1099855928</td>   <td></td> </tr>
</table>
