<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>DeleteWorkType.deleteWorkType()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]<br/></td></tr>
</table>
