<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:51:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>20/10/29 18:52:16</td>   <td>20736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteWorkType.deleteWorkType()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">deleteWorkType</td> 
  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:53:00</td>   <td>64981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:53:00</td>   <td>65053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>20/10/29 18:53:10</td>   <td>75424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteWorkType.deleteWorkType()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">deleteWorkType</td> 
  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:54:07</td>   <td>131699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:54:07</td>   <td>131762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>20/10/29 18:54:17</td>   <td>142320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteWorkType.deleteWorkType()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">deleteWorkType</td> 
  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:55:39</td>   <td>224344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:55:39</td>   <td>224385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>20/10/29 18:55:49</td>   <td>234619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteWorkType.deleteWorkType()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">deleteWorkType</td> 
  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:56:40</td>   <td>285543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:56:40</td>   <td>285585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>20/10/29 18:56:53</td>   <td>297699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteWorkType.deleteWorkType()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">deleteWorkType</td> 
  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:57:33</td>   <td>338032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:57:33</td>   <td>338089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>20/10/29 18:57:47</td>   <td>352209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteWorkType.deleteWorkType()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">deleteWorkType</td> 
  <td>main@1687940142</td>   <td></td> </tr>
<tr bgcolor="a181e2">  <td>20/10/29 18:58:36</td>   <td>401475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testng.retryanalyzer.attest.DeleteWorkType@37f1104d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1687940142</td>   <td></td> </tr>
</table>
